.description{
    margin: 15px;
    font-size: 16px;
    color: #F8F8F8;
    text-align: center;
}

.offers{
    background: rgb(243, 243, 243);
    margin: 10px;
    border-radius: 16px;
    box-shadow: 2px 2px 5px black;
    background: #1F3A93;
    width: 155px;
    height: 225px;
    
}

.photo{
    margin-top: 0px;
    border-radius: 10px;
    width:155px;
    height:90px;
}




