.description{
    margin: 30px 30px 60px 30px;
    font-size: 20px;
}

.offers{
    background: rgb(243, 243, 243);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.photo{
    margin-top: 10px;
    border-radius: 10px;
}




