.main-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: rgb(7, 7, 7);
    background-color: #F8F8F8;
    box-shadow: 2px 2px 10px grey;
    width: 100vw;
    height: 190px;
    font-size: 10px;
  }

  .contact{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    margin-left:15px;
  }

  .contact>p{
    margin:0;
  }

  .bold{
    font-weight: bold;
  }

  

  .logo-footer{
    margin-top: 50px;
    margin-right: 20px;
    
  }

  .quotes {
    font-size: x-small;
    font-display: padding-top;
    font-style: "roboto";
  }
  

  .container {
    font-size: x-small;
    font-style: roboto serif;
    padding-top: 7em;
    position: fixed;
    bottom: 0;
    text-align: start;
    left: 0;
    width: 100vw;
    height: 40px;
  }

  .nav_about {
    display: inline-block;
    line-height: 0.5;
  }

  .somos, .telephone{
    margin-bottom: 10px;
    word-spacing: 5px;
  }

  

  p{
    margin: 0px;
  }