

.form-signin{
    font-size: 26px;
    width: 100vw;
}

.form-control{
    margin-bottom: 10px;
}

#inputEmail{
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    
}

#inputPassword{
    margin: 10px;
    border-radius: 5px;
    padding: 5px;

}

label{
    font-size: 16px;
}

button{
    width: 200px;
    border-radius: 5px;
    padding: 5px;
}