
.login-section{
    width: 100vw;
}


.login-section-header{
    font-size: 44px;
}

.login-section-submit{
    background: #ef4538;
    color: #fff;
    height: 45px;
    border-radius: 5px;
}

.red-text{
    color:red;
}