.topnav input[type=text] {
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  .search_button{
    margin: 10px ;
    border-radius: 5px;
    width: 60px;
    height:31px;
  }

  .finder_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }

  .ocio_button,.rutas_button,
  .madrid_button,.naturaleza_button,
  .eventos_button{
    border-radius: 40px;
    color: white;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background: #52555F;
    box-shadow: 1px 1px 4px rgba(42, 42, 42, 0.15);
    margin: 8px;
    
    
    


  }
